apiVersion: v1
kind: Secret
metadata:
  name: auth0-example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "domain": "tenant.eu.auth0.com",
      "client_id": "sXT1EO8VgSvAQkMCLT88XhyK0bf2DWklq",
      "client_secret: "***"
    }
